@import url(../stylesheets/bodystyle.css);
@import url(../stylesheets/navigation.css);

#searchbar {
    grid-area: search;
}

#util {
    grid-area: util;
}

#main {
    grid-area: main;
    overflow-y: scroll;
}