@import url(../stylesheets/bodystyle.css);
@import url(../stylesheets/navigation.css);

#util {
    grid-area: util;
    margin-top: 2em;
    margin-left: 15em;
}

#main {
    grid-area: main;
    overflow-y: scroll;
}